<!--<p>-->
  <!--present works!-->
<!--</p>-->
<div id="titlebar"> <h1 align="center">YAHOO!</h1> <td><input id="textbox" value=" " style=" height:50px;
  width:700px;"><img src='assets/c.png' onclick=""></td>

</div>

<hr style="color:darkblue">
<ul class="topnav">

  <li><a class="active" href="#home">Home</a></li>

  <li><a href="#blog" (click)="clickBlog()">Blog</a></li>

  <li><a href="#mails">Mails</a></li>

  <li><a href="#contact">Contact</a></li>

  <li class="right"><a href="#about" (click)="clickAbout()">Signin</a></li>

</ul>
<div id="style">
  <img src='assets/b.jpg' onclick="" style="height:400px; width:1000px;"/>
  <div id="container" >
    <h3 align="centre">NEWS</h3>
    <ul>
      <li>HI</li>
      <li>News today</li>
    </ul>
  </div>
</div>


